.widgets{
	background: url('widgets.png') no-repeat ;
}
.banners{
	background: url('banners.png') no-repeat ;
}
.buttons{
	background: url('buttons.png') no-repeat;
}
/*------------------- Font Color --------------------*/
a,
#header .logo_wrapper .site_slogan,
#footer .copyright a:hover,
#footer .nav a:hover{
  color:#777;
}
#sidebar1 .account .logged_in li a{
  color:#555;
}
#header .nav2 li a,
#sidebar1 .account .logged_in li,
#sidebar1 .account fieldset .signup,
#sidebar1 .account .logged_in li a:hover,
#discussion .padding .title,
#discussion .padding .count,
#discussion .padding .date,
#cart .items th,
#collection .subcategory a{
  color:#fff; 
}
#header .nav li a:hover,
#collection .subcategory a:hover{
  color:#92b26f;
}
a:hover,
#header .nav li a,
#sidebar1 .nav-left .active a,
#sidebar1 .account .logged_in h2,
#header .logo_wrapper .site_name,
#header .cart_status a span strong,
#header .cart_status a span,
#sidebar1 .account fieldset .signup:hover,
#product .details p a:hover,
.page2 .padding .grid .price,
#blog .padding .excerpt a,
#create_comment .message a,
#sidebar1 .stats dd,
#header .nav2 li a:hover{
  color:#80433d;
}
#header .cart_status a:hover span ,
#header .cart_status a:hover span strong {
  color:#000;
}
#nav-left .nav-left  h2,
#frontpage .page .toppic,
#frontpage .page2 .toppic,
#page .toppic,
#collection .toppic,
#product .toppic a,
#cart .toppic,
#blog .toppic,
#article .toppic,
#discussion .toppic,
#footer .nav a,
#product .details p a{
  color:#d16d64;
}
/*------------------- Background Color --------------------*/
#header .nav{
  background-color:#c5d1b8;  
}
#collection .subcategory a{
  background-color:#92b26f;  	
}
#header .nav2,
#sidebar1 .account fieldset .signup{
  background-color:#80433d;    
}
#header .nav li a:hover,
#header .nav2 li a:hover,
#sidebar1 .account fieldset .signup:hover{
  background-color:#fff;
}
#comments li .meta,
#discussion .listing .hover,
#collection .subcategory a:hover{
  background-color:#ebf2e4;
}
#discussion .listing th,
#cart .items th{
 background-color:#b9c8a8;
}
/*------------------- Border Color --------------------*/
#nav-left,
#frontpage .page .padding{
  border:2px dotted #d8877f;
}
#frontpage .column li{
  border-bottom:2px dotted #d5a9a5;  
}
#comments li .meta{
  border:2px dotted #d5a9a5;  
}
#discussion .listing td,
#cart .items td,
#nav-left .nav-left .list li{
  border-bottom:1px dotted #d8877f;  
}
#footer{
  border-top:2px dotted #f0d5a0;  
}